{% extends "admin/custom_change_form.html" %}


{% load i18n static management %}


{% block extrastyle %}
    <link rel="stylesheet" href="{% static "css/custom.css" %}">
{% endblock %}

{% block menu-right %}
    <a href="{% url 'management:core_sshconnectionmodel_change' connection.id %}">Connection</a>
    {% if connection.status == 'enabled' %}
        {% if connection.state == 'connected' %}
            <span class="badge bg-success" id="device-status">{{ connection.state }}</span>
        {% else %}
            <span class="badge bg-danger" id="device-status">{{ connection.state }}</span>
        {% endif %}
    {% else %}
        <span class="badge bg-secondary" id="device-status">{{ connection.status }}</span>
    {% endif %}    
{% endblock %}

{% block content %}
    <div class="alert alert-danger" id="error-message" style="display: none;"></div>
    <div class="row">
        <div class="col-md-6">
            <ul class="nav nav-tabs">
                <li class="nav-item dropdown">
                  <a class="nav-link active dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Platform</a>
                  <div class="dropdown-menu" style="">
                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#partitions-modal">Processes</a>
                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#partitions-modal">User sessions</a>
                    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#partitions-modal">Services</a>
                  </div>
                </li>
            </ul>            
            <div class="card text-white mb-2">
                <div class="card-body p-0">
                    {% if platform %}
                        <table class="table m-0">
                            <tr>
                                <th width="140">Model</th>
                                <td>{{ platform.model }}</td>
                            </tr>
                            <tr>
                                <th>OS name</th>
                                <td>
                                    <span title="{{ platform.platform }}">
                                        {{ platform.os_name }}
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <th>System</th>
                                <td>{{ platform.system }}</td>
                            </tr>
                            <tr>
                                <th>Architecture</th>
                                <td>
                                    <span title="Machine">
                                        {% if platform.machine %}
                                            {{ platform.machine }}
                                        {% else %}
                                            --
                                        {% endif %}
                                    </span>
                                    /
                                    <span title="Processor">
                                        {% if platform.processor %}
                                            {{ platform.processor }}
                                        {% else %}
                                            --
                                        {% endif %}
                                    </span>
                                </td>
                            </tr>
                        </table>
                    {% else %}
                        <div class="alert bg-info mb-0">
                            Platform information is not collected yet.
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active">Clocks</a>
                </li>
            </ul>
            <div class="card text-white mb-2">
                <div class="card-body p-0">
                    <table class="table m-0">
                        <tr>
                            <th width="140">Last seen</th>
                            <td id="last-seen">--</td>
                        </tr>
                        <tr>
                            <th>Time on host</th>
                            <td id="time-on-host">--</td>
                        </tr>
                        <tr>
                            <th>Last boot on</th>
                            <td id="up-since">--</td>
                        </tr>
                        <tr>
                            <th>Up for</th>
                            <td id="up-for">--</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <ul class="nav nav-tabs">
        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">CPU</a>
          <div class="dropdown-menu" style="">
            <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#partitions-modal">Times</a>
            <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#partitions-modal">Use</a>
          </div>
        </li>
        <li class="nav-link bg-light" title="Use">
            <strong id="cpu-usage">--</strong>
        </li>
        <li class="nav-link bg-light"  title="Temperature">
            <strong id="cpu-temperature">--</strong>
        </li>
        <li class="nav-link bg-light"  title="Frequency">
            <strong id="cpu-frequency">--</strong>
        </li>
    </ul>
    <div class="card text-white mb-2">
        <div class="card-body p-0">
            <div class="progress mb-0" style="display: none;">
                <div class="progress-bar bg-primary" id="cpu-progresbar" role="progressbar"></div>
            </div>
            <div class="progress mb-0" style="display: none;">
                <div class="progress-bar bg-primary" id="cpu-temperature-progresbar" role="progressbar"></div>
            </div>
            <div id="cpu-performance">
                <string>Loading ...</strong>
            </div>
        </div>
    </div>
    <ul class="nav nav-tabs">
        <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Memory</a>
            <div class="dropdown-menu" style="">
                <span class="dropdown-item">
                    Total RAM:
                    <strong id="total-ram">
                        {% if total_ram %}
                            {{ total_ram | bytes_to_mbi }} MBi
                        {% else %}
                            --
                        {% endif %}
                    </strong>
                </span>
                <span class="dropdown-item">
                    Total swap:
                    <strong id="total-swap"></strong>
                </span>
            </div>
        </li>
        <li class="nav-link bg-light" title="Used virtual memory">
            <strong id="used-ram">--</strong>
        </li>
        <li class="nav-link bg-light" title="Used swap">
            <strong id="used-swap">--</strong>
        </li>
    </ul>
    <div class="card mb-2">
        <div class="card-body p-0">
            <div class="progress mb-0" style="display: none;">
                <div class="progress-bar bg-primary" id="ram-progresbar" role="progressbar"></div>
            </div>
            <div id="ram-performance">
                <strong>Loading ...</strong>
            </div>
        </div>
    </div>

    <ul class="nav nav-tabs">
        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Storage</a>
          <div class="dropdown-menu" style="">
            <span class="dropdown-item">
                Available:
                <strong id="available-space">--</strong>
            </span>
            <span class="dropdown-item">
                Total:
                <strong id="total-space">--</strong>
            </span>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#storage-space-modal">Space</a>
            <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#storage-io-modal">I/O</a>
          </div>
        </li>
        <li class="nav-link bg-light" title="Used space">
            <strong id="used-space">--</strong>
        </li>
        <li class="nav-link bg-light" title="Total read">
            <strong id="disk-io-read">--</strong>
        </li>
        <li class="nav-link bg-light" title="Total wirte">
            <strong id="disk-io-write">--</strong>
        </li>
    </ul>
    <div class="card mb-2">
        <div class="card-body p-0">
            <div class="progress mb-0" style="display: none;">
                <div class="progress-bar bg-primary" id="space-progresbar" role="progressbar"></div>
            </div>
            <div id="disc-performance">
                <strong>Loading ...</strong>
            </div>
        </div>
    </div>

    <ul class="nav nav-tabs">
        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Network</a>
          <div class="dropdown-menu" style="">
            <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#net-interfaces-modal">Interfaces</a>
            <a class="dropdown-item" href="#">Ports</a>
            <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#net-io-modal">I/O</a>
          </div>
        </li>
        <li class="nav-link bg-light" title="Total received">
            <strong id="network-received">--</strong>
        </li>
        <li class="nav-link bg-light" title="Total transmitted">
            <strong id="network-sent">--</strong>
        </li>
    </ul>
    <div class="card text-white mb-2">
        <div class="card-body p-0">
            <div id="network-performance">
                <strong>Loading ...</strong>
            </div>
        </div>
    </div>

    <div class="modal" id="storage-space-modal">
        <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Storage space</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"></span>
              </button>
            </div>
            <div class="modal-body p-0" id="storage-space">
                <strong>Loading ...</strong>
            </div>
          </div>
        </div>
    </div>
    <div class="modal" id="storage-io-modal">
        <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Storage I/O</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"></span>
              </button>
            </div>
            <div class="modal-body p-0" id="storage-io">
                <strong>Loading ...</strong>
            </div>
          </div>
        </div>
    </div>


    <div class="modal" id="partitions-modal">
        <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Storage partitions</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"></span>
              </button>
            </div>
            <div class="modal-body p-0" id="partitions">
                <strong>Loading ...</strong>
            </div>
          </div>
        </div>
    </div>


    <div class="modal" id="net-interfaces-modal">
        <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Network interfaces</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"></span>
              </button>
            </div>
            <div class="modal-body p-0" id="network-interfaces">
                <strong>Loading ...</strong>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="net-interfaces-refresh">Refresh</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
          </div>
        </div>
    </div>
    <div class="modal" id="net-io-modal">
        <div class="modal-dialog modal-dialog-scrollable modal-fullscreen" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Network I/O</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"></span>
              </button>
            </div>
            <div class="modal-body p-0" id="network-io">
                <strong>Loading ...</strong>
            </div>
          </div>
        </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="//momentjs.com/downloads/moment.js"></script>
    <script src="{% static "js/device_info.js" %}"></script>
    <script>
        $(function(){
            device_details.url = "{% url 'core:host_runtime' host_id %}";
            device_details.usage_url = "{% url 'core:host_runtime_history' host_id %}";
            network_interfaces.url = "{% url 'core:host_net_interfaces' host_id %}";

            device_details.render(true);
            network_interfaces.build();
            /*
            data.datasets[0].data.push(100)
            data.labels.push(8)
            
            data.datasets[0].data.push(50)
            data.labels.push(9)

            chart.update();
            */
        })
    </script>
{% endblock %}

{% block content_title %}{% endblock %}
{% block content_subtitle %}{% endblock %}
