{% extends "admin/change_form.html" %}


{% block object-tools-items %}
    <li>    
        <a href="{% url 'core:monitoring_diagram' original.id %}" target="_balnk">Usage plots</a>
    </li>
    {% if original.ssh_conf.monitoring_url %}
        <li>
            <a href="{{ original.ssh_conf.monitoring_url }}" target="_balnk">Host monitoring</a>
        </li>
    {% endif %}
    <li>
        <a href="ssh://{{ original.ssh_conf.username }}@{{ original.ssh_conf.hostname }}:{{ original.ssh_conf.port }}" target="_balnk">SSH Tunnel</a>
    </li>
    <li>
        <a href="{% url 'admin:core_sshconfigurationmodel_change' original.id %}" target="_balnk">SSH Configuration</a>
    </li>
{% endblock %}

{% block submit_buttons_bottom %}
{% endblock %}
